# Compiled / build / distribution
__pycache__/
*.py[oc]
build/
dist/
dist-ssr/
wheels/
*.egg-info
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment / configuration
.env
local_settings.py

# Databases / media
db.sqlite3
media/

# Node modules
node_modules/
.pnpm-store/

# Test / coverage
.pytest_cache/
.coverage
coverage/
__screenshots__/

# IDEs / editor files
.vscode/*
!.vscode/extensions.json
.pydevproject
.project
.settings/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache / temporary
.eslintcache
.DS_Store

# Cypress
/cypress/videos/
/cypress/screenshots/