:root {
  --z-modal: 100;
  --border-radius: 0.5rem;


  /* colors */
  --primary-color: '';
  --secondary-color: '';


  /* typography */
  --font-family-primary: monospace;

  --font-size-sm: 0.8rem;
  --font-size-base: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-size-xl: 1.5rem;

  --line-height-sm: 1.25;
  --line-height-md: 1.5;

  /* spacing  */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#app {
  height: 100%;
}

main {
  height: 100%;
}

body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  line-height: var(--line-height-md);
}

h1,
h2,
h3 {
  font-family: var(--font-family-primary);
}

h1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-sm);
}

h2 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-sm);
}

body,
ul,
h1,
h2,
h3 {
  margin: 0;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.icon-button {
  font-size: var(--font-size-xl);
  width: var(--font-size-xl);
  height: var(--font-size-xl);
  background: none;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.icon-button__icon {
  width: 1em;
  height: 1em;
  display: block;
}