:root {
  /* Main colors */
  --color-primary: rgb(255, 207, 103);
  /* --color-primary-light: color-mod(var(--color-primary) tint(15%));
  --color-primary-dark: color-mod(var(--color-primary) shade(15%));
  --color-primary-bg: color-mod(var(--color-primary) alpha(20%)); */

  --color-accent: #77a2ff;
  /* --color-accent-light: color-mod(var(--color-accent) tint(15%));
  --color-accent-dark: color-mod(var(--color-accent) shade(10%));
  --color-accent-bg: color-mod(var(--color-accent) alpha(20%)); */


  /* Shades */
  --black: #1d1d21;
  --gray-10: #2e2e31;
  --gray-6: #7b7a7d;
  --gray-4: #a5a5a6;
  --gray-3: #bbbbbc;
  --gray-2: #d1d0d2;
  --gray-1: #e8e7e8;
  --white: white;


  /* Feedback */
  --color-success: #88c459;
  --color-error: #f5414f;
  --color-warning: #ffd137;


  /* Typography */
  --color-text: var(--gray-10);
  --color-text-heading: var(--black);
  --color-text-subtle: var(--gray-6);
  --color-link: var(--color-primary);
  --color-link-visited: var(--color-primary-dark);
  --color-mark: var(--color-accent-bg);
  --color-blockquote-border: var(--gray-2);


  /* Elements, components */
  --color-border: var(--gray-2);
  --color-body: var(--white);

  --form-element-border: var(--color-border);
  --form-element-border-focus: var(--color-primary);
  --form-element-border-error: var(--color-error);
  --form-element-bg: var(--white);
  --form-text-placeholder: var(--gray-4);

  --btn-primary-bg: var(--color-primary);
  --btn-primary-hover: var(--color-primary-light);
  --btn-primary-active: var(--color-primary-dark);
  --btn-primary-label: var(--white);


  --modal-header: var(--gray-3);
  --modal-body: '';
  --modal-footer: '';
  --modal-backdrop: rgba(0, 0, 0, 0.4);

  --nav-header: var(--gray-6);
  --nav-main: var(--gray-4);
  --nav-element-active: var(--color-accent);

  --sidebar: rgb(158, 158, 255);
  --seperator: white;
  /* --nav-element */
}