:root {
  /* SURFACES */
  --color-bg: #f4f6f8;
  --color-surface: rgb(255, 255, 255);
  --color-surface-darker: color-mix(in srgb, var(--color-surface), black 1%);
  --color-surface-hover: #f5f5f5;
  --color-surface-active: #ebebeb;

  /* MAIN COLORS */
  --color-primary-light: color-mix(in srgb, var(--color-primary), white 15%);
  --color-primary: rgb(33, 120, 130);
  --color-primary-dark: color-mix(in srgb, var(--color-primary), black 15%);

  --color-secondary-light: color-mix(in srgb, var(--color-secondary), white 15%);
  --color-secondary: rgb(187, 215, 217);
  --color-secondary-dark: color-mix(in srgb, var(--color-secondary), black 15%);

  --color-accent-light: #ee8e44;
  --color-accent: #ee8e44;
  --color-accent-dark: #ea7317;

  --color-danger: #ef4444;

  /* --black;
  --white;
  --grey;
  --grey-dark; */

  /* FEEDBACK */
  --color-error: var(--color-danger);

  /* BORDERS & SHADOWS */
  --color-border: ;
  --color-shadow: rgba(0, 0, 0, 0.15);


  /* TYPOGRAPHY */
  --color-text: #1f2933;
  --color-text-muted: #6b7280;


  /* TICKETS */
  --color-new: rgb(214, 102, 102);
  --color-active: rgb(214, 176, 92);
  --color-done: rgb(102, 170, 120);

  /* COMPONENTS & ELEMENTS */
  --sidebar: var(--color-secondary);
  --sidebar-element-active: var(--color-secondary-dark);
  --sidebar-element-hover: var(--color-secondary-dark);

  --modal-header: var(--color-secondary);
  --modal-body: var(--color-surface);
  --modal-footer: '';

  --form-element-border: var(--color-border);
  --form-element-border-focus: var(--color-primary);
  --form-element-border-error: var(--color-error);
  --form-text-placeholder: var(--gray-4);

}